NODE_ENV=development

API_PORT=3010
API_DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/postgres"
API_ALLOW_ORIGIN="http://127.0.0.1:5500,http://127.0.0.1:5501,http://localhost:3000,https://h8lwvw8x-3000.asse.devtunnels.ms"
API_DOMAIN="localhost"

API_BETTER_AUTH_SECRET="secretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecret"
API_BETTER_AUTH_URL="http://localhost:3010"

API_AUTH_MICROSOFT_CLIENT_ID=""
API_AUTH_MICROSOFT_CLIENT_SECRET=""
API_AUTH_MICROSOFT_TENANT_ID=""