NODE_ENV=development

API_PORT=3010
API_DATABASE_URL=""
API_ALLOW_ORIGIN="http://127.0.0.1:5500,http://127.0.0.1:5501,http://localhost:3000,https://h8lwvw8x-3000.asse.devtunnels.ms"
API_DOMAIN="localhost"

API_BETTER_AUTH_SECRET="b4R8xQ1nV7kM2pJ9tY5cL3wH6sD0fZaUX7mK9qP2vN8rT4yL1cW6sD3jH5uF0aZB"
API_BETTER_AUTH_URL="http://localhost:3010"

API_AUTH_MICROSOFT_CLIENT_ID=""
API_AUTH_MICROSOFT_CLIENT_SECRET=""
API_AUTH_MICROSOFT_TENANT_ID=""